
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome!</h1>
      <p class="lead">Please use the patient form (located in the "profile" section of the nav bar) to get started.</p>
    </div>
  </div>





