<h1><%=patient.firstName%>'s Profile</h1>

<p>Symptoms: <%=patient.symptoms%></p>


<ul><%patient.conditions.forEach(condition=>{ %>
    <li><%=condition.name%></li>
    <p>Probability: <%=condition.probability%></p> 
<% }) %>
</ul>